@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap');


/*
Estilos da página index
*/

*{

    text-decoration: none;
    font-family: 'M PLUS 1', sans-serif;
}

body{

background: linear-gradient(#dddddd, #f1f1f1, #a19d9d);

}

#menu ul li{

    display:inline;
    font-size: 20px;
    font-weight: 600;
    padding: 2,5px;
    
}

#menu ul li a{
    color:rgb(0, 0, 0)
}

#menu ul li a:hover{
    color: rgb(255, 255, 255);
}

#titulo {
    color:rgb(255, 255, 255);
    font-size:50px;
    font-family:"Josefin Sans";
    background-color:rgb(9, 1, 46)
}

#titulo:hover{
    color: rgb(62, 70, 97);

}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align:justify;
    padding-left: 30px;
    font-size:30px;

}

.container img{
    width: 500px;
    height: auto;
    padding-left:30px ;

}
.centralizar{
    text-align :center;

}
#tm-social{
    width:50px;
    height:50px 
}
.br-10{
    width:50px;
    height:50px 
}

}